<%- include('partials/header'); -%>

<h1>Hey <%= user?.username %></h1>

<% if (!user) { %>
  <a href="/auth/login">Log in</a>
  <a href="/auth/register">Register</a>
<% } %>
 
<%- include('partials/footer'); -%>