<%- include('partials/header'); -%>

<div class="login-form__container">
  <form class="login-form__form" action="/auth/login" method="post">
    <h2>Create New Social App Account</h2>
    <input class="input" type="text" placeholder="Enter your full name" name="fullName" id="fullName" />
    <input class="input" type="text" placeholder="Enter your username" name="username" id="username" />
    <input class="input" type="password" placeholder="Enter your password" name="password" id="password" />
    <input class="input" type="password" placeholder="Confirrm password" name="confirmPassword" id="confirmPassword" />
    <button class="btn btn--primary login-form__login-btn ">Create New Account</button>
    <div class="login-form__separator">
      <div class="login-form__separator--line"></div>
      <span>OR</span>
      <div class="login-form__separator--line"></div>
    </div>
    <a href="/auth/login" class="btn btn--success">Login To Existing Account</a>
  </form>
</div>

<%- include('partials/footer'); -%>