/* Variables */
:root {
    --color-brand: #3c5a96;
    --color-primary: rgb(8, 102, 255);
    --color-success: rgb(40, 167, 69);
    --color-danger: #dc3545;
    
    --color-white: #fff;
    --color-black: #222;
    --color-gray-50: #f7f7f7;
    --color-gray-75: #f2f2f2;
    --color-gray-100: #d7d7d7;
    --color-gray-300: rgb(167, 167, 167);
    --color-gray-200: #979595;
    --color-gray-500: #777;

    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 20px;

    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 8px;
    --spacing-4: 12px;
    --spacing-5: 16px;
    --spacing-6: 20px;
    --spacing-7: 24px;

    --border-radius: 3px;
    --border-radius-lg: 6px;
    --border-radius-full: 50%;

    --box-shadow: 1px 1px 1px 3px rgb(131 128 128 / 26%);

    --avatar-size: 40px;
    --wall-width: 800px;
    --container-width: 1200px;
    --header-height: 60px;
}

body {
    background-color: var(--color-gray-50);
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-3);
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.input {
    width: 100%;
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: var(--font-size-3);
    padding: var(--spacing-4) var(--spacing-6);
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-5);
}

.btn {
    border: 1px solid transparent;
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-3) var(--spacing-5);
    text-decoration: none;
    margin: var(--spacing-2) var(--spacing-1);
    cursor: pointer;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--success {
    background-color: var(--color-success);
    color: var(--color-white) !important;
}

.login-form__container {
    max-width: 400px;
    margin: 0 auto;
}

.login-form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form__separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
}

.login-form__separator--line {
    width: 45%;
    height: 1px;
    background-color: var(--color-gray-100);
}

.login-form__login-btn {
    width: 100%;
}

.header {
    background-color: var(--color-brand);
    width: 100%;
    height: var(--header-height);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
}

a.header__logo {
    color: var(--color-white);
    font-size: var(--font-size-5);
    font-weight: 700;
    text-decoration: none;
}

.header__nav--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__nav--item {
    margin-left: var(--spacing-6);
    color: var(--color-white);
    text-decoration: none;
}

a.header__nav--link {
    text-decoration: none;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

li.posts__item {
    margin-bottom: var(--spacing-6);
    padding: var(--spacing-6);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    display: flex;
    gap: var(--spacing-6);
}

li.comments__item {
    margin-bottom: var(--spacing-3);
    padding: var(--spacing-3);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    display: flex;
    gap: var(--spacing-3);
}

.posts__item--shadow {
    box-shadow: var(--box-shadow);
}

.post__user {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.post__avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: var(--border-radius-full);
}

.post__username {
    font-size: var(--font-size-3);
    font-weight: 700;
    margin: 0;
}

.post__username > a {
    color: var(--color-brand);
    text-decoration: none;
}

.post__body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.post__content {
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
    flex: 1;
}

.post__date {
    font-size: var(--font-size-2);
    color: var(--color-gray-500);
    margin: 0;
    align-self: flex-end;    
}

.comments {
    padding: 0;
}

.wall__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: var(--spacing-6);
    max-width: var(--wall-width);
}

.create-post__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: var(--spacing-6);
}

.create-post__form-input {
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-size-3);
    padding: var(--spacing-4) var(--spacing-6);
    margin-top: var(--spacing-2);
    margin-bottom:var(--spacing-2);
}

.create-post__share-btn {
    align-self: flex-end;
    margin: 0;
}

.create-comment__form {
    display: flex;
    align-items: center;
    width: 100%;
}

.create-comment__form-input {
    flex: 1;
    margin: 0;
    padding: var(--spacing-4) var(--spacing-5);
}

.create-comment__form-btn {
    margin: 0;
    margin-left: var(--spacing-3);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.animation__fade-in {
    animation: 0.5s fadeIn;
} 

.profile-header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: var(--spacing-6);
    max-width: var(--wall-width);
}

.profile-header__avatar {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius-full);
}

.profile-header__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing-3);
}

.profile-header__username {
    font-size: var(--font-size-5);
    font-weight: 700;
    margin: 0;
    margin-top: var(--spacing-3);
}

.profile-header__username > a {
    color: var(--color-brand);
    text-decoration: none;
}

.profile-header__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--spacing-3);
}

.profile-header__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: var(--spacing-6);
    margin-right: var(--spacing-6);
}

.profile-header__stat--number {
    flex: 1 1 auto;
    font-size: var(--font-size-4);
    font-weight: 700;
    margin: 0;
}

.profile-header__stat--label {
    font-size: var(--font-size-2);
    color: var(--color-gray-500);
    margin: 0;
}

.profile-header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-3);
}

.profile-header__action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--spacing-6);
    margin-right: var(--spacing-6);
    color: var(--color-white);
    background-color: var(--color-brand);
    border-radius: var(--border-radius);
    padding: var(--spacing-3) var(--spacing-5);
    text-decoration: none;
}


.wall-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
    max-width: var(--wall-width);
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.wall-tabs__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    background-color: var(--color-gray-50);
    padding: var(--spacing-5) var(--spacing-5);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--color-gray-100);
}

.wall-tabs__tab:first-child {
    border-right: none;
}

.wall-tabs__tab--active {
    background-color: var(--color-gray-100);
}

.wall-tabs__tab:hover {
    background-color: var(--color-gray-100);
}

.wall-tabs__content {
    display: none;
}

.wall-tabs__content--active {
    display: block;
}