<%- "<script>window.user = " + JSON.stringify(user ? { id: user.id } : {}) + ";</script>" %>
<script type="module" src="/assets/js/bootstrap.js"></script>
<script type="module" src="/assets/js/createPost.js"></script>
<script type="module" src="/assets/js/timelineLoader.js"></script>
</body>
</html>