<%- "<script>window.user = " + JSON.stringify(user ? { id: user.id, username: user.username, name: user.name } : {}) + ";</script>" %>
<script type="module" src="/assets/js/bootstrap.js"></script>
</body>
</html>